@font-face {
    font-family: 'urbanist-regular';
    src: url('../font/Urbanist-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-medium';
    src: url('../font/Urbanist-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-semibold';
    src: url('../font/Urbanist-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'urbanist-bold';
    src: url('../font/Urbanist-Bold.ttf') format('truetype');
}

:root {
    --primary-color: 53, 127, 212;
    --dark-color: 24, 27, 25;
    --light-color: 255, 255, 255;

    --border-style: 1px solid rgba(255, 255, 255, 0.12);

    --regular-font: 'urbanist-regular', Arial, Helvetica, sans-serif;
    --medium-font: 'urbanist-medium', Arial, Helvetica, sans-serif;
    --semibold-font: 'urbanist-semibold', Arial, Helvetica, sans-serif;
    --bold-font: 'urbanist-bold', Arial, Helvetica, sans-serif;
}

* {
    transition: 250ms !important;
    font-family: var(--medium-font);
}

body {
    background-color: rgba(var(--dark-color), 1);
    overflow-x: hidden;
}

.login .card-login {
    padding: 52px 42px;
    border-radius: 4px;
    border: var(--border-style);
    background-color: rgba(var(--light-color), 0.03);
}

.login .title {
    font-size: 2.5rem;
    font-family: var(--semibold-font);
    color: rgba(var(--light-color), 1);
    margin-bottom: 24px;
}

.input {
    padding: 17px 20px;
    border-radius: 3px !important;
    border: var(--border-style);
    color: rgba(var(--light-color), 0.52);
    font-size: 0.875rem;
    background-color: rgba(var(--light-color), 0.03);
    stroke: none;
    outline: none;
    font-family: var(--regular-font);
}

.input::placeholder {
    font-size: 0.875rem;
    color: rgba(var(--light-color), 0.52);
    font-family: var(--regular-font);
}

.input-group label {
    font-size: 0.938rem;
    color: rgba(var(--light-color), 1);
    margin-bottom: 8px;
    font-family: var(--regular-font);
}

.login form {
    gap: 16px;
}

.button-primary,
.button-primary-small,
.button-reverse-small {
    padding: 16px 18px;
    color: rgba(var(--light-color), 1);
    border: none;
    outline: none;
    stroke: none;
    font-size: 0.938rem;
    background-color: rgba(var(--primary-color), 1);
    border-radius: 3px !important;
    text-decoration: none;
    font-family: var(--regular-font);
}

.button-primary-small,
.button-reverse-small {
    padding: 12px 16px;
}

.button-reverse-small {
    background-color: rgba(var(--light-color), 0.03);
    border: var(--border-style);
    border-color: transparent;
    width: fit-content;
}

.button-reverse-small:hover {
    background-color: rgba(var(--light-color), 0.06);
    border: var(--border-style);
}

.button-primary:hover,
.button-primary-small:hover {
    opacity: 0.86;
}

.alert {
    background-color: rgba(var(--light-color), 0.03) !important;
    border: var(--border-style) !important;
    color: rgba(var(--light-color), 1) !important;
    font-size: 0.938rem !important;
    padding: 18px 20px;
    border-radius: 3px !important;
}

.dashboard .sidebar {
    background-color: rgba(var(--dark-color), 1);
    border-right: var(--border-style);
    padding: 42px 32px;
    min-height: 100vh;
    height: 100%;
}

.dashboard .brand-logo {
    margin-bottom: 42px;
    width: 92px;
}

.dashboard .item-link {
    padding: 14px 14px;
    background-color: rgba(var(--light-color), 0.03);
    color: rgba(var(--light-color), 0.52);
    font-size: 0.938rem;
    border-radius: 3px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    border: var(--border-style);
    border-color: transparent;
}

.dashboard .item-link:hover {
    background-color: rgba(var(--light-color), 0.06);
    border: var(--border-style);
}

.dashboard .topbar {
    padding: 20px 32px 20px 62px;
    border-bottom: var(--border-style);
}

.dashboard .wrapper-image {
    padding-left: 24px;
    border-left: var(--border-style);
}

.dashboard .profile-image {
    width: 42px;
    height: 42px;
    border-radius: 9999px;
}

.dashboard .content-dashboard {
    padding: 42px 100px 100px 62px;
}

.dashboard .content-dashboard .title {
    font-size: 1.75rem;
    font-family: var(--semibold-font);
    color: rgba(var(--light-color), 1);
}

.dashboard table tr,
.dashboard table td {
    border: var(--border-style);
    padding: 12px;
    color: rgba(var(--light-color), 0.72);
}